/* место для вашего кода */

/* Header */

.header {
    margin: 92px 24px 45px 24px;
    padding: 0 25px;
    padding-left: 26px;
    padding-right: 25px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    justify-items: stretch;
}
.header_menu {
    display: grid;
}
.header_menu-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 3fr;
    column-gap: 31px;
    align-items: center;
    justify-items: stretch;
    list-style: circle;
}
.header_menu-item {
    font-size: 18px;
    line-height: 21.13px;
    text-underline-offset: 4px;
}
.header_menu-item_active .header_menu-link {
    text-decoration: none;
}
.header_menu-item:nth-child(1) {
    list-style: none;
}
.header_logo-link {
    width: 148px;
    height: 105px;
}
.header_contacts {
    display: grid;
    justify-content: end;
    align-content: space-around;
    padding: 5px 35px 5px 0;
}
.address {
    text-underline-offset: 4px;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
}

/* Cover section*/

.cover {
    margin-top: 92px;
    margin-bottom: 20px;
    padding: 165px 50px 59px 50px;
    position: relative;
    background: url(../images/cover.jpg) center no-repeat;
    background-size: cover;
    height: 757px;
    color: #FFFFFF;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.overlay {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.cover_title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 115px);
    row-gap: 13px;
    z-index: 3;
    padding-bottom: 120px;
}
.aligned-text {
    line-height: 115px;
    letter-spacing: 30px;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 700;
}
.aligned-text_center {
    text-align: center;
}
.aligned-text_right {
    text-align: right;
    line-height: 100px;
}
.letter-spacing-extended {
    letter-spacing: 60px;
}
.no-letter-spacing {
    letter-spacing: normal;
}
.cover_description {
    display: grid;
    grid-template-columns: 3fr auto;
    z-index: 3;
    padding-left: 28px;
}
.cover_description-text {
    padding-top: 12px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    text-align:  left;
    line-height: 28px;
    word-spacing: 20px;
}
.cover_description-text-center {
    word-spacing: 17px; 
}
.cover_description-text-right {
    word-spacing: 18px;
}
.bet-button {
    background-color: transparent;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    border: #FFFFFF solid 1px;
    padding: 12px 32px 11px 31px;
}


/* Lots section*/

.lots {
    margin: 180px 24px 90px 24px;
}
.lots_heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
    padding-left: 40px;
    padding-bottom: 27px;
}

.lots_card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    list-style: none;
    margin-bottom: 30px;
}
.card-link {
    color: #FFFFFF;
    text-decoration: none;
}
.card {
    display: grid;
    align-content: space-between;
    padding: 51px 40px 48px 40px;
    position: relative;
}
.card_type_film {
    background: url(../images/card-lot-01.jpg) center no-repeat;
    background-size: cover;
    width: 334px;
    height: 563px;
    
}
.card_type_book {
    background: url(../images/card-lot-02.jpg) center no-repeat;
    background-size: cover;
    width: 334px;
    height: 563px;
}
.card_type_picture {
    background: url(../images/card-lot-03.jpg) center no-repeat;
    background-size: cover;
    width: 334px;
    height: 563px;
}
.card_title {
    position: relative;
    z-index: 3;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.card_text {
    position: relative;
    z-index: 3;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px; 
    text-decoration: none;
}
.lots_look-more-link {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-underline-offset: 4px;
    padding-left: 40px;
}

/* About section */

.about {
    padding: 37px 24px 13px 25px;
}
.about_column {
    padding-top: 55px;
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: auto;
    justify-items: center;
}
.about_logo {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}
.about_logo-image {
    max-width: 148px;
    max-height: 114px;  
}
.about_text-title {
    margin: 100px 380px 100px 0 ;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.about_text {
    display: grid;
    grid-column: 2/3;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 22px;
}
.about_text:first-of-type {
    padding-bottom: 25px;
}


/* Footer */
.footer {
    margin-top: 150px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr;
    padding: 15px 50px 0 50px;
    align-items: center;
}
.footer_contacts {
    display: grid;
    justify-self: start;
} 
.footer_menu {
    display: grid;
    align-self: start;
}
.footer_menu-list {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center; 
}
.footer_menu-item {
    list-style: none;
    text-underline-offset: 4px;
}
.footer_menu-link_active .footer_menu-link {
    text-decoration: none;
}

.footer_social {
    display: grid;
    justify-self: end;
    align-self: start;
}
.footer_social-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer_social-list-item {
    margin-left: 48px;
    list-style: none;
    display: grid;
    justify-content: end;
    justify-self: end;
}
.footer_social-link {
    width: 48px;
    height: 48px;  
}


